<!-- <h1>Hello World!</h1>
<h3>{{title}}</h3> -->

<!-- <app-hello></app-hello>
<app-hi></app-hi>
<app-greet></app-greet> -->

<!-- <app-structural-directive></app-structural-directive> -->

<!-- Day III -->
<!-- <h1>Hello World!</h1>
<h3>{{title}}</h3> -->

<!-- <app-structural-directive></app-structural-directive> -->

<!-- <app-attribute></app-attribute> -->
<!-- <app-menu></app-menu>
<simplestandalonecomp></simplestandalonecomp> -->

<!-- Day IV -->
<!-- <app-menu></app-menu> -->
<!-- <app-products></app-products> -->

<!-- Template Reference Variable # -->
<!-- <app-greet #myGreet></app-greet>
<h1>{{myGreet.greetMsg}}</h1>
<h1>{{myGreet.isDisabled}}</h1> -->

<!-- child to parent communication -->
<!-- <input type="button" class="btn btn-danger" style="margin-left: 50px; margin-top: 50px;" value="Click Me!"
(click)="clickListener($event);" />
<h1>{{buttonInfo}}</h1> -->
<!-- <app-profile (update)="updateEventListener($event)"></app-profile>
<h1>In Parents's Component!</h1>
<h1>{{name}}</h1> -->

<!-- Day V -->
<!-- <app-menu></app-menu>
<app-login></app-login> -->
<!-- <app-products></app-products>
<app-cartdetails></app-cartdetails> -->
<!-- <app-welcome></app-welcome> -->

<!-- Day VI -->
<!-- <app-menu></app-menu>
<app-products></app-products>
<app-cartdetails></app-cartdetails> -->
<!-- router-outlet is the placeholder where all views are getting routed at the client side. -->
<div class="text-center">
    <app-menu></app-menu>
    <router-outlet></router-outlet>
</div>